.filter-wrapper {
  clip-path: polygon(0 20%, 1% 0, 100% 0, 100% 80%, 99% 100%, 0% 100%);
}

@media (max-width: 1024px) {
  .filter-wrapper {
    clip-path: polygon(0 20%, 2% 0, 100% 0, 100% 80%, 98% 100%, 0% 100%);
  }
}

@media (max-width: 768px) {
  .filter-wrapper {
    clip-path: polygon(0 7%, 4% 0, 100% 0, 100% 93%, 96% 100%, 0% 100%);
  }
}