.background-image {
  background-image: url('../public/assets/bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

/* Mobile background for small and medium screens */
@media (max-width: 640px) {
  .background-image {
    background-image: url('../public/assets/mobileBg.svg');
  }
}

.gradient-text {
  background: linear-gradient(to right, #ce89ca, #5885bf, #7258df, #75eea3);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
}

.bg-gradient {
  background: linear-gradient(to right, #ce89ca, #5885bf, #7258df, #75eea3);
}

.bg-gradient-br {
  background: linear-gradient(to bottom right,
      #e28ede,
      #5c8fd3,
      #7255e7,
      #61f199);
}